<h1>Add Product Page</h1>

<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>StockQuantity</th>
                <th>Created Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@product.StockQuantity</td>
                    <td>@product.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>